#drink-bar {
    height: 15vh;
    background: #5C2018;
    display: flex;
    justify-content: space-around;
    align-items: center
}

/* #drink-bar span {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: 1px solid #F4976C
} */

.alcohol {
    height: 60%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: 3px solid #F3E0DC;
    background: #4285F4;
    color: #F3E0DC;
    font-weight: bold;
}

#drink-list {
    /* height: 75vh; */
    padding: 1rem;
    text-align: center;
    background: #BC4639;
    color: #5C2018;
    font-weight: bold;
}

.drinkCard {
    display: inline-grid;
    border: #5C2018 solid 3px;
    background: #D4A59A;
    margin: 1rem 2rem;
    /* border-radius: 2em; */
    padding: 1rem;
}

.drinkImages {
    border: #5C2018 solid 3px;
}

.likeBtns {
    background: #4285F4;
    color: #F3E0DC;
    border-radius: 1em;
    text-decoration: none;
}
